* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: Gill;
  src: url(fonts/GillSans/GillSans.ttf);
}
@font-face {
  font-family: Gill-Italic;
  src: url(fonts/GillSans/GillSans-Italic.ttf);
}
@font-face {
  font-family: Gill-Semibold-Italic;
  src: url(fonts/GillSans/GillSans-SemiboldItalic.ttf);
}
@font-face {
  font-family: Gill-Bold;
  src: url(fonts/GillSans/GillSans-Bold.ttf);
}
@font-face {
  font-family: Gill-Light;
  src: url(fonts/GillSans/GillSans-Light.ttf);
}
@font-face {
  font-family: Gill-Light-Italic;
  src: url(fonts/GillSans/GillSans-LightItalic.ttf);
}
@font-face {
  font-family: PT;
  src: url(fonts/PTSerif-Regular.ttf);
}
.hero {
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
}
.hero .header {
  text-align: center;
  padding-top: 63.5px;
}
.hero .header h1 {
  color: white;
  font-family: PT;
  font-weight: lighter;
  font-size: 40px;
}
.hero .header h4 {
  color: #EE4367;
  font-family: Gill-Italic;
  font-weight: lighter;
  font-size: 20px;
}
.hero .header p {
  color: white;
  font-family: Gill-Italic;
  font-weight: lighter;
  font-size: 20px;
}
.hero .header button {
  background-color: #EE4367;
  color: white;
  border: none;
  width: 121.62px;
  height: 40.04px;
  font-family: Gill;
  font-size: 15px;
}

nav {
  max-width: 980px;
  height: 92px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
}
nav .logo {
  height: 42px;
  width: 92px;
  font-size: 15px;
}
nav .links a {
  color: white;
  font-family: Gill;
  text-decoration: none;
}
nav .links a span {
  font-size: 21px;
  color: #EE4367;
  padding: 0 8px;
}
nav .links .black-text {
  color: black;
}

nav.black-nav {
  border-bottom: 3px solid black;
}

@media only screen and (max-width: 820px) {
  nav {
    margin: 10px;
  }
  nav .links {
    margin-right: 10px;
  }
}
footer {
  height: 455px;
  width: 100%;
  padding-top: 36px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .address-text {
  margin-top: 45px;
}
footer .address-text p {
  font-weight: lighter;
  color: white;
  font-family: Gill;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}
footer .subscription {
  margin-top: 45px;
  display: flex;
}
footer .subscription input {
  width: 529px;
  height: 60px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-family: Gill;
  font-size: 16px;
}
footer .subscription ::placeholder {
  font-family: Gill;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
footer .subscription button {
  margin: -5px;
  width: 167px;
  height: 60px;
  border: none;
  background-color: white;
  color: #EE4367;
}
footer .social-media {
  margin-top: 30px;
  display: flex;
  width: 154.66px;
  justify-content: space-between;
}
footer .social-media img {
  height: 31.22px;
  width: 31.22px;
}

@media only screen and (max-width: 820px) {
  footer .subscription {
    max-width: 529px;
    flex-direction: column;
  }
  footer .subscription input {
    padding: 0;
  }
  footer .subscription button {
    align-self: center;
    margin-left: 35%;
    margin-top: 10px;
  }
}
.home .quote {
  background-color: white;
  width: 100%;
  min-height: 300px;
  padding-top: 77px;
}
.home .quote .text-container {
  margin: 0 auto;
  max-width: 980px;
}
.home .quote .text-container p {
  font-family: Gill-Semibold-Italic;
  font-size: 15px;
  color: #FFD140;
}
.home .quote .text-container h3 {
  padding: 4px 0;
  margin-bottom: 0px;
  font-family: 15px;
  font-family: PT;
  font-weight: lighter;
  color: #EE4367;
}
.home .quote .text-container h6 {
  font-weight: lighter;
  font-family: PT;
  font-size: 10px;
  color: #A8A8A8;
}
.home .upcoming-events {
  padding: 48px 20px 0 40px;
  background-color: #540D6E;
  width: 100%;
  min-height: 320px;
}
.home .upcoming-events .header {
  color: white;
  font-family: Gill;
  border-bottom: 2px solid white;
  width: 392px;
}
.home .upcoming-events .header p {
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 3px;
  margin-bottom: 10.5px;
}
.home .upcoming-events .calendar {
  margin-top: 34.5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .upcoming-events .calendar .calendar-date {
  display: flex;
  margin-right: 20px;
}
.home .upcoming-events .calendar .calendar-date .date-icon {
  padding-top: 8px;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  color: white;
  text-align: center;
}
.home .upcoming-events .calendar .calendar-date .date-icon h3 {
  font-family: Gill-Bold;
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 0;
}
.home .upcoming-events .calendar .calendar-date .date-icon p {
  font-family: Gill-Light;
  font-size: 12px;
}
.home .upcoming-events .calendar .calendar-date .text-container {
  color: white;
  width: 140px;
  font-family: Gill;
}
.home .upcoming-events .calendar .calendar-date .text-container h4 {
  font-weight: normal;
  font-size: 15px;
}
.home .upcoming-events .calendar .calendar-date .text-container p {
  color: #EE4367;
  font-weight: normal;
  font-size: 13px;
}

@media only screen and (max-width: 820px) {
  .home .quote {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.about {
  width: 100%;
}
.about .banner {
  max-width: 975.5px;
  margin: 85.5px auto 36.5px auto;
}
.about .banner .image-container {
  margin-bottom: 15.8px;
  height: 378.75px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/about.jpg);
  background-size: cover;
  background-position: center;
}
.about .banner .image-container .caption {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about .banner .image-container .caption p {
  margin-bottom: 0;
  font-family: Gill;
  font-size: 25px;
}
.about .banner hr {
  width: 229px;
  height: 3px;
  background-color: black;
}
.about .text {
  max-width: 980px;
  margin: 0 auto 95px auto;
}
.about .text p {
  font-family: Gill-Light-Italic;
  font-size: 16px;
}

@media only screen and (max-width: 820px) {
  .about {
    padding: 20px;
  }
}
.contact {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
  padding-top: 63.5px;
}
.contact .contact-header {
  width: 229px;
  border-bottom: 3px solid black;
  margin-bottom: 65.5px;
}
.contact .contact-header p {
  letter-spacing: 1.5pt;
  font-family: Gill;
  font-size: 25px;
}
.contact .contact-body {
  display: flex;
}
.contact .contact-body .contact-form {
  max-width: 520px;
}
.contact .contact-body .contact-form .row {
  width: 100%;
  margin-bottom: 21px;
}
.contact .contact-body .contact-form form {
  font-family: Gill;
  font-size: 16px;
}
.contact .contact-body .contact-form form input {
  padding-left: 21px;
  background-color: #F5F5F5;
  border: none;
  width: 520px;
  height: 60px;
}
.contact .contact-body .contact-form form textarea {
  padding-left: 21px;
  padding-top: 20px;
  font-family: Gill;
  font-size: 16px;
  background-color: #F5F5F5;
  border: none;
  resize: none;
  width: 520px;
  height: 199px;
}
.contact .contact-body .contact-form form button {
  letter-spacing: 1.5pt;
  border: none;
  background-color: #EE4367;
  color: white;
  width: 168px;
  height: 60px;
}
.contact .contact-body .map-container {
  background-image: url(../images/map.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 50px;
  width: 400px;
  height: 442px;
  background-color: aqua;
}

@media only screen and (max-width: 820px) {
  .contact {
    padding: 20px;
  }
  .contact .contact-header {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .contact .contact-body {
    flex-direction: column;
  }
  .contact .contact-body .contact-form {
    margin: 0 auto;
  }
  .contact .contact-body .contact-form .row {
    display: flex;
    justify-content: center;
  }
  .contact .contact-body .map-container {
    margin: 0 auto;
  }
}
.gallery {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 63.5px;
}
.gallery .gallery-header {
  width: 229px;
  border-bottom: 3px solid black;
  margin-bottom: 35.5px;
}
.gallery .gallery-header p {
  letter-spacing: 1.5pt;
  font-family: Gill;
  font-size: 25px;
}
.gallery .gallery-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery .gallery-body .img-container {
  margin-bottom: 20px;
}
.gallery .gallery-body .yellow {
  width: 489px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/gallery/1.png);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-body .pink {
  width: 187px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/gallery/2.jpeg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-body .green {
  width: 265px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../images/gallery/3.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-body .purple {
  width: 603px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../images/gallery/4.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .gallery-body .teal {
  width: 355px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../images/gallery/5.png);
  background-size: cover;
  background-position: center;
}

.blog {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 86 px;
  padding-top: 63.5px;
}
.blog .blog-header {
  width: 229px;
  border-bottom: 3px solid black;
  margin-bottom: 30.5px;
}
.blog .blog-header p {
  letter-spacing: 1.5pt;
  font-family: Gill;
  font-size: 25px;
}
.blog .blog-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blog .blog-content .container {
  width: 460px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.blog .blog-content .container .date-icon {
  padding-top: 8px;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  color: white;
  text-align: center;
}
.blog .blog-content .container .date-icon h3 {
  font-family: Gill-Bold;
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 0;
}
.blog .blog-content .container .date-icon p {
  font-family: Gill-Light;
  font-size: 12px;
}
.blog .blog-content .container .blog-container {
  width: 380px;
}
.blog .blog-content .container .blog-container .image-container {
  width: 100%;
  height: 140px;
  background-image: url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
}
.blog .blog-content .container .blog-container .text-container {
  font-family: Gill;
  margin-top: 20px;
}
.blog .blog-content .container .blog-container .text-container h3 {
  font-weight: normal;
  font-size: 16px;
}
.blog .blog-content .container .blog-container .text-container p {
  color: #EE4367;
  font-size: 13px;
}

@media only screen and (max-width: 820px) {
  .blog .blog-header {
    margin: 0 auto 20px auto;
    text-align: center;
  }
  .blog .blog-content {
    justify-content: center;
  }
}
.blog-entry {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 55.5px;
}
.blog-entry .blog-banner {
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
}
.blog-entry .blog-banner .date {
  padding-top: 21.9px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: #EE4367;
  width: 155.25px;
  height: 155.25px;
}
.blog-entry .blog-banner .date h1 {
  font-weight: normal;
  font-family: Gill-Bold;
  font-size: 55px;
  margin-bottom: 0;
}
.blog-entry .blog-banner .date p {
  font-family: Gill-Light;
  font-size: 31px;
}
.blog-entry .blog-text {
  margin-bottom: 151px;
}
.blog-entry .blog-text .paragraph {
  max-width: 856px;
}
.blog-entry .blog-text .one {
  margin-bottom: 55px;
}
.blog-entry .blog-text h3 {
  font-weight: normal;
  font-family: Gill;
  font-size: 20px;
  color: #EE4367;
}
.blog-entry .blog-text p {
  letter-spacing: 1.5pt;
  font-family: Gill-Light;
  font-size: 20px;
}

@media only screen and (max-width: 820px) {
  .blog-entry .blog-text {
    padding: 20px;
  }
}