* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

@font-face {
  font-family: Gill;
  src: url(fonts/GillSans/GillSans.ttf);
}
@font-face {
  font-family: Gill-Italic;
  src: url(fonts/GillSans/GillSans-Italic.ttf);
}
@font-face {
  font-family: Gill-Semibold-Italic;
  src: url(fonts/GillSans/GillSans-SemiboldItalic.ttf);
}
@font-face {
  font-family: Gill-Bold;
  src: url(fonts/GillSans/GillSans-Bold.ttf);
}
@font-face {
  font-family: Gill-Light;
  src: url(fonts/GillSans/GillSans-Light.ttf);
}
@font-face {
  font-family: PT;
  src: url(fonts/PTSerif-Regular.ttf);
}
.hero {
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
}
.hero .header {
  text-align: center;
  padding-top: 63.5px;
}
.hero .header h1 {
  color: white;
  font-family: PT;
  font-weight: lighter;
  font-size: 40px;
}
.hero .header h4 {
  color: #EE4367;
  font-family: Gill-Italic;
  font-weight: lighter;
  font-size: 20px;
}
.hero .header p {
  color: white;
  font-family: Gill-Italic;
  font-weight: lighter;
  font-size: 20px;
}
.hero .header button {
  background-color: #EE4367;
  color: white;
  border: none;
  width: 121.62px;
  height: 40.04px;
  font-family: Gill;
  font-size: 15px;
}

nav {
  max-width: 980px;
  height: 92px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
}
nav .logo {
  height: 42px;
  width: 92px;
  font-size: 15px;
}
nav .links a {
  color: white;
  font-family: Gill;
  text-decoration: none;
}
nav .links a span {
  font-size: 21px;
  color: #EE4367;
  padding: 0 8px;
}
nav .links .black-text {
  color: black;
}

nav.black-nav {
  border-bottom: 3px solid black;
}

footer {
  height: 455px;
  width: 100%;
  padding-top: 36px;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .address-text {
  margin-top: 45px;
}
footer .address-text p {
  font-weight: lighter;
  color: white;
  font-family: Gill;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}
footer .subscription {
  margin-top: 45px;
  display: flex;
}
footer .subscription input {
  width: 529px;
  height: 60px;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-family: Gill;
  font-size: 16px;
}
footer .subscription ::placeholder {
  font-family: Gill;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
footer .subscription button {
  margin: -5px;
  width: 167px;
  height: 60px;
  border: none;
  background-color: white;
  color: #EE4367;
}
footer .social-media {
  margin-top: 30px;
  display: flex;
  width: 154.66px;
  justify-content: space-between;
}
footer .social-media img {
  height: 31.22px;
  width: 31.22px;
}

.home .quote {
  background-color: white;
  width: 100%;
  min-height: 300px;
  padding-top: 77px;
}
.home .quote .text-container {
  margin: 0 auto;
  max-width: 980px;
}
.home .quote .text-container p {
  font-family: Gill-Semibold-Italic;
  font-size: 15px;
  color: #FFD140;
}
.home .quote .text-container h3 {
  padding: 4px 0;
  margin-bottom: 0px;
  font-family: 15px;
  font-family: PT;
  font-weight: lighter;
  color: #EE4367;
}
.home .quote .text-container h6 {
  font-weight: lighter;
  font-family: PT;
  font-size: 10px;
  color: #A8A8A8;
}
.home .upcoming-events {
  padding: 48px 20px 0 40px;
  background-color: #540D6E;
  width: 100%;
  min-height: 320px;
}
.home .upcoming-events .header {
  color: white;
  font-family: Gill;
  border-bottom: 2px solid white;
  width: 392px;
}
.home .upcoming-events .header p {
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 3px;
  margin-bottom: 10.5px;
}
.home .upcoming-events .calendar {
  margin-top: 34.5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home .upcoming-events .calendar .calendar-date {
  display: flex;
  margin-right: 20px;
}
.home .upcoming-events .calendar .calendar-date .date-icon {
  padding-top: 8px;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  background-color: #EE4367;
  color: white;
  text-align: center;
}
.home .upcoming-events .calendar .calendar-date .date-icon h3 {
  font-family: Gill-Bold;
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 0;
}
.home .upcoming-events .calendar .calendar-date .date-icon p {
  font-family: Gill-Light;
  font-size: 12px;
}
.home .upcoming-events .calendar .calendar-date .text-container {
  color: white;
  width: 140px;
  font-family: Gill;
}
.home .upcoming-events .calendar .calendar-date .text-container h4 {
  font-weight: normal;
  font-size: 15px;
}
.home .upcoming-events .calendar .calendar-date .text-container p {
  color: #EE4367;
  font-weight: normal;
  font-size: 13px;
}