$site-purple:#540D6E;
$site-pink:#EE4367;
 
$yellow-color:#FFD140;
$teal:#3BCEAB;
$green:#08AD69;

$yellow-overlay: rgba(255, 209, 64,.8);
$pink-overlay: rgba(238, 67, 103,.8);
$green-overlay: rgba(8, 173,105, .8);
$purple-overlay: rgba(84, 13, 110, .8);
$teal-overlay: rgba(59, 206, 171, .8);

$form-color: #F5F5F5;