footer{
    height: 455px;
    width: 100%;
    padding-top: 36px;
    background-color: $site-pink;

    display: flex;
    flex-direction: column;
    align-items:center;

    .address-text{
        margin-top: 45px;
        p{
            font-weight: lighter;
            color: white;
            font-family: Gill;
            font-size: 16px;
            text-align: center;
            margin-bottom: 5px;
        }
        
    }

    .subscription{
        margin-top: 45px;
        display: flex;

        input{
            width: 529px;
            height: 60px;
            padding-left: 20px;
            
            background-color: rgba($color:#FFFFFF, $alpha: .2);
            border: none;

            color: white;
            font-family: Gill;
            font-size: 16px;
        }
        // placeholder text in input
        ::placeholder{
            font-family: Gill;
            font-size: 16px;
            color:rgba($color: #FFFFFF, $alpha: .5);
        }

        button{
            margin: -5px;
            width: 167px;
            height: 60px;
            border: none;
            background-color: white;
            color: $site-pink;

        }
    }

    .social-media{
        margin-top: 30px;
        display: flex;
        width: 154.66px;
        justify-content: space-between;
        img{
            height: 31.22px;
            width: 31.22px;
        }
    }
}